/* this is the stylesheet for the sign-in and login page */
@import "./base.css";
a{
    color: var(--dark-green);
    text-decoration: none;
}
input[type = 'text']{
    background-color: transparent;
}
button{
    cursor: pointer;
}
body{
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
}
a,p,button{
    font-family: "Raleway", sans-serif;
}
.left-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex: 1;
    background-color: var(--lightest-green)
}
.right-div{
    background-color: var(--dark-green);
    height: 100vh;
    flex: 1;
}
.enroll{
    flex-basis: 50%;
    padding: .5em 0;
}
.ld-wrapper{
    width: 60%;
    /* width: clamp(1rem,80%,500px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ld-wrapper h2{
    font-size: 2em;
    font-family: "Playfair Display", serif;
    /* line-height: 3em; */
    margin-bottom: 1rem;
    text-align: center;
}
.email-form{
    width: 100%;
    text-align: center;
}
.role-selection-div{
    display:flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}
.role-selection-options{
    display: flex;
    gap: 7px;
}
.role-selection-options .role{
    flex-basis: 50%;
}
.role-selection-options .selected{
    background-color: var(--dark-green);
    color: var(--lightest-green);
    border: none;
}
.role-selection-options .normal{
    border: 3px solid var(--egg-white);
    padding: 10px;
}
.role-selection-options .role:hover{
    border: 3px solid var(--dark-green);
    padding: 10px;
}
.line-text{
    display: flex;
    gap: .5em;
    align-items: center;
    flex-direction: row;
}
.line-text span{
    /* width: 100%; */
    flex: 1;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--egg-white); 
    /* background-color: black; */
}
.ef-input{
    display: flex;
    gap: .85em;
    flex-direction: column;
    margin-bottom: .85em;
}
.ef-input input{
    font-weight: bold;
}
.ef-input input:placeholder-shown{
    font-weight: lighter;
}
.ef-input input,.create,.tech-companies-wrapper button{
    padding: var(--pa) ;
}



.ef-row2 input{
    accent-color: var(--dark-green);
}
button,input{
    background-color: transparent;
    border: 2px solid var(--egg-white);
    border-radius: var(--br-a);
}
.create{
    width: 100%;
    margin-bottom: 1em;
    background-color: var(--dark-green);
    color: var(--lightest-green);
    border: none;
}
.ef-input input:focus,.full-name-field input:focus{
    border: none;
    outline: 2px solid var(--dark-green);
    color: var(--dark-green);
}

/* Sign up styling */
.full-name-field{
    width:100%;
    display: flex;
    gap: 1em ;
    margin-bottom: .9em;
}
.full-name-field input{
    background-color: transparent !important ;
    padding: var(--pa);
    width:100%;
}
.signupPage .ef-row2{
    justify-content: center;
}
.original-div{
    position: relative;
}
.password-div input{
    width: 100%;
}
.eye-toggle{
    position: absolute;
    cursor: pointer;
    top: 30%;
    right: 16px;
    color: var(--egg-white);
}
@media (max-width: 1024px) {
 .right-div {
        flex: 1 1 100%;
        min-height: auto;
        height: auto;
    }
    main {
        flex-direction: column;
        min-height: 100vh;
    }
    .ld-wrapper{
        width:100%;
        width: 90vw;
        width: clamp(1rem,90vw,600px);
    }
}
