
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
import 'primeicons/primeicons.css'

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --dark-green: #026433;
    --light-green: #90ee90;
    --lightest-green: #dffdd3;
    --white: white;
    --grey: grey;
    --egg-white: #d2d2d2;
    --gold:#ffd700;

    /* sizes */

    --pa:.9em;
    --br-a:3px;
    --br-b:6px;
    --br-c:9px;
    --br-d:2em;
}
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 100;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: start;
}
.align-items-end{
    align-items: end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
