/* @import url("src/assets/stylings/base.css"); */
@import "./base.css";


:root{
    --coherent-spacing: 1.5rem;
    --nav-button-spacing: .6em;
    --nav-button-border-radius: 6px;
    --header-border-radius: 30px;
}
.logo{
    color: var(--light-green);
    font-weight: 800;
}
.main-nav-cont{ 
    padding: var(--coherent-spacing);
}
.header-nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: var(--coherent-spacing);
    flex-direction: column;
}
.search-cont{
    display: flex;
    gap: .5em;

}
.search-cont input{
    padding: var(--nav-button-spacing);
    border-radius: var(--nav-button-border-radius);
    border: none;
}
.search-bar-cont{
    background-color: white;
    border-radius: var(--header-border-radius);
    padding:0 10px;
}
.search-div{
    padding: 5px;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.search-div input{
    padding: 1em;
    width: 100%;
}
.search-div input:focus{
    outline: none;
}
.location-bar{
    border-left: 1px solid black;
    border-radius: 0;
}
.search-btn{
    background-color: var(--dark-green);
    color: white;
    padding: 1em 1.5em;
    border: none;
    border-radius: var(--header-border-radius);
}
.search-bar-cont .pi{
    color: var(--dark-green);
}
.nav-links{
    gap: .3em;
}
.profile-link:hover{
    display: flex;
    align-items: center;
    gap: .3em;
    padding: var(--nav-button-spacing);
    border-radius: var(--nav-button-border-radius);
    background-color: var(--dark-green);
    color: white;
    cursor: pointer;
}
.router-view{
    padding: 0 var(--coherent-spacing);
}
.normal{
    color: white;
}
.router-link-active{
    padding: var(--nav-button-spacing);
    border-bottom: 3px solid var(--light-green);
    border-radius: 0;
    color: var(--light-green);
    font-weight: 800;
}
.normal{
    padding: var(--nav-button-spacing);
    border-radius: var(--nav-button-border-radius);
}
.router-link-active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.normal:hover{
    background-color: var(--dark-green);

}

.normal:hover,.router-link-active:hover{
    background-color: var(--light-green);
    color: white;
    font-weight: 800;
    border-radius: var(--nav-button-border-radius);
}
.logout-btn{
    background-color: rgb(237, 98, 98);
    color: white;
    border: none;
    font-weight: bold;
    padding: var(--nav-button-spacing);
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
}
.logout-btn:hover{
    background-color: rgb(255, 0, 0);
}
.logout-btn .pi{
    margin-left: 5px;
}
.add-job-button{
    padding: .6em;
    border: 5px dotted grey;
    background-color: rgb(206, 206, 206);
    border-radius: var(--nav-button-border-radius);
}
.add-job-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;   
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    width: clamp(1rem,90vw,700px);
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background-color: white;
    padding: 1em;
    border-radius: var(--nav-button-border-radius);

    height: 90vh;
    overflow-y: auto;

    scrollbar-width: none;

}
.modal-content::-webkit-scrollbar
{
 display: none;
}
.modal-content .row input,.modal-content .row select{
    padding: .5em;
    width:100%;
    box-sizing: border-box;
}
.modal-content .row h3{
    width: 100%;
}
.add-job{
    padding: var(--nav-button-spacing);
    color: black;
    font-weight: 700;
    background-color: var(--light-green);
    border: none;
}
.cancel{
    margin-top: 8em;
}
.cancel .pi{
        background-color: var(--light-red);
        padding:.4em;
        border-radius: 50%;
        margin-left: auto;
    }
.cancel .pi:hover{
        background-color: var(--dark-red);
    }
.modal-content .row{
    display: flex;
    flex-direction: column;
}
.modal-content .row:last-of-type{
    margin-bottom: 2em;
}   
.add-job{
    background-color: var(--dark-green);
    color: var(--lightest-green);
    border: none;
}
.add-job:hover{
    border: 3px solid var(--dark-green);
    padding: 10px;
}